**/.DS_Store

#awsmobilejs
appsync-info.json
aws-info.json
project-info.json
aws-exports.*
secrets.js
awsmobilejs/.awsmobile/backend-build
awsmobilejs/\#current-backend-info
~awsmobilejs-*/
node_modules/*
